body {
box-sizing: border-box;
font-family: 'Rubik', sans-serif;
color: #222;
letter-spacing : 2px;
margin: 0;
padding: 0;
}


img {
    max-width: 100%;
    height: auto;
}

.bloc-text h2 {
    margin: 20px;
}

.portfolio-text-text{
    margin: 10px;

}

.grid {
    display: grid;

    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 60px);

    grid-gap: 20px;
    margin: 20px 10px;

}

.grid > section:nth-child(1) {
    grid-column: 1 / span 4;
    grid-row: 1 / span 2;
}

.grid > section:nth-child(2){
    grid-column: 5 / span 8;
    grid-row: 1 / span 5;
}
.grid > section:nth-child(3){
    grid-column: 1 / span 4;
    grid-row: 3 / span 5;
}

.grid > section:nth-child(4){
    grid-column: 5 / span 4;
    grid-row: 6 / span 3;
}
.grid > section:nth-child(5){
    grid-column: 9 / span 4;
    grid-row: 6 / span 3;
}
.grid > section:nth-child(6){
    grid-column: 1 / span 2;
    grid-row: 8 / span 2;
}
.grid > section:nth-child(7){
    grid-column: 3 / span 2;
    grid-row: 8 / span 2;
}
.grid > section:nth-child(8){
    grid-column: 1 / span 4;
    grid-row: 10 / span 2;
}
.grid > section:nth-child(9){
    grid-column: 5 / span 5;
    grid-row: 9 / span 3;
}
.grid > section:nth-child(10){
    grid-column: 10  / span 3;
    grid-row: 9 / span 3;
}

.grid > * {
    position: relative;
    overflow: hidden;

}

.grid  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.portfolio-container img {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
}
.portfolio-container img:hover {
    filter: brightness(50%);
    -webkit-filter: brightness(60%);
    transition: ease-in 0.2s;
}
