body {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    color: #222;
    letter-spacing : 2px;
    margin: 0;
    padding: 0;
}

button {
    padding: 10px 20px 10px;
    background-color: white;
    border: none;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin: 40px 20% 40px;
}

a {
    display: block;
    color: lightgrey;
    text-decoration: none;
}
a:hover {
    color: white;

}

h2{
    margin: 40px;
    text-align: center;
}


.master-container {
    width: 100%;

}

.form{
    padding-left: 40%;
}

form label {
    padding-top: 16px;
}
/* HEADER BLOC
/////////////////////////////////////////////////////////////////////////////
*/
.carroussel-container a {
    z-index: 4;

}

.menu-button span {
    display: inline-block;
    position: fixed;
    z-index: 3;
    margin : 10px;
    right: 40px;

    width: 50px;
    height: 8px;
    border-radius: 10px;
}

.span1 {
    display: inline-block;
    position: fixed;
    top: 15px;
    background-color: rgba(128, 128, 128, 0.8);

}

.span2 {
    display: inline-block;
    position: fixed;
    top: 30px;
    background-color: rgba(128, 128, 128, 01);

}
.span3 {
    display: inline-block;
    position: fixed;
    top: 45px;
    background-color: rgba(128, 128, 128, 0.8);

}

.menu-bloc {
    display: none;
    position: fixed;

    top: 0;
    right: 0;

    z-index: 2;
    width: 100%;
    height: auto;
    background-color: rgba(34, 34, 34, 0.9);
}

.menu-bloc li {
    list-style: none;
    text-align: center;
    font-size: x-large;
    line-height: 80px;
}
.menu-bloc li:hover {
    background-color: rgba(255, 255, 255, 0.199);
    transition: ease-out 1s;
}

.carroussel-container {
    position: relative;
    display: flex;
    width: 100%;
    flex-wrap: nowrap;

    color: white;
}


.carroussel-container img {
    max-height: 600px;
    filter: brightness(50%);
    -webkit-filter: brightness(60%);
}
.carroussel-container img:hover {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    transition: ease-in 0.2s;
}

.title-header {
    position: absolute;
    padding-top: 10px;
    left: 50%;

}

.title-header1 {
    position: absolute;
    bottom: 5%;
    left: 2%;
}
.title-header2 {
    position: absolute;
    left: 35%;
    bottom: 5%;
}
.title-header3 {
    position: absolute;
    left: 70%;
    bottom: 5%;
}

.active{
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: darkgreen;
    font-weight: bolder;

}

@media screen and (max-width: 768px) {
    .carroussel-container {
        flex-direction: column;
    }
    .carroussel-container img {
        max-height: 400px;
        filter: brightness(50%);
        -webkit-filter: brightness(60%);
    }
    .carroussel-container img:hover {
        filter: brightness(100%);
        -webkit-filter: brightness(100%);
        transition: ease-in 0.2s;
    }
    .img-carrousel_2 {
        display: none;
    }
    .img-carrousel_3 {
        display: none;
    }
    .title-header {
        padding-top: 40px;
        left: 40%;
    }
    .title-header1 {
        position: absolute;
        bottom: 5%;
        left: 20%;
    }
    .title-header2 {
        display: none;
    }
    .title-header3 {
        display: none;
    }

    .menu-bloc {
        display: none;
        position: absolute;
        top: 0;
        right: 0;

        z-index: 2;
        width: 100%;
        height: 400px;
        background-color: rgb(31, 31, 31);
        transition: 0.2s ease;
    }

    .menu-button span {

        position: fixed;

    }
}

/* EXPLORE BLOC
/////////////////////////////////////////////////////////////////////////////
*/
.explore-container {
    display: flex;
    position: relative;
    max-height: 400px;
}


.explore-text-container {
    display: flex;
    justify-content: space-around ;
    flex : 3;
}

.explore-text-container-bloc {
    margin-top: 7%;
}

.number-explore {
    font-size: 2em;
}

.text-explore {
    font-size: 1em;
}

.text-bloc {
    max-height: 100px;
    padding: 10%;
}



.explore-image-container {
    position: relative;
    flex : 2;
}

.button-explor {
    position: absolute;
    z-index: 2;
    top: 47%;
    left: 43%;
}
.button-explor:hover {

    background-color: #222;
    color: rgb(255, 255, 255);
    transition: ease-in-out 0.2s;
}
@media screen and (max-width: 768px) {
    .explore-container {
        flex-direction: column;
        max-height: 600px;

    }
    .number-explore {
        font-size: 1.3em;
        text-align: center;

    }
    .text-explore {
        font-size: 0.6em;
        text-align: center;
    }
    .button-explor {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 34%;
    }
}
/* SERVICE BLOC
/////////////////////////////////////////////////////////////////////////////
*/
.service-container{
    display: flex;
    height: 450px;
}

.service-menu-bloc {
    display: flex;
    justify-content: center;
    position: relative;
    width: 40%;

    color: white;

    background-color: rgb(47, 47, 51);
}

.service-menu{
    position: absolute;
    width: 300px;
    top: 24%;
    left: 60px;

}

.service-title-menu {
    position: absolute;
    left: 50px;
    top: 50px;
    font-size: large;

}

.service-item-text {
    font-size: medium;
}

.service-item-logo{
    width: 30px;
    height: 30px;
}

.service-title-ser {
    padding-top: 2px;
    height: 2px;
    width: 40%;
    border-radius: 10%;
    background-color: rgb(134, 218, 134);
}

.service-menu a{
    color: white;
    text-decoration: none;
    padding-top: 4px;
}

.service-menu img{
    padding-top: 2px;
    filter: invert(100%);
    color: white;
}

.service-menu-bloc ul{
    list-style-type: none;
    line-height: 40px;
}

.service-menu-bloc li{
    display: flex;
    padding: 12px;
}

.service-menu-bloc li:hover{
    font-weight: bolder;
    font-size: large;
    transition: 0.1s ease-in;
}



.service-description-bloc1 {
    display: block;
    position: relative;
    padding: 100px;

    width: 60%;
    background-color: rgb(255, 255, 255);
}
.interior-indicator1 {
    position: absolute;
    left: 0%;
    top: 43%;
    z-index: 2;
    width: 0;
    height: 0;

    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent transparent transparent rgb(47, 47, 51);
;
}

.service-description-bloc2 {
    display: none;
    position: relative;
    padding: 100px;

    width: 60%;
    background-color: rgb(255, 255, 255);
}
.interior-indicator2 {
    position: absolute;
    left: 0%;
    top: 55%;
    z-index: 2;
    width: 0;
    height: 0;

    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent transparent transparent rgb(47, 47, 51);
;
}

.service-description-bloc3 {
    display: none;
    position: relative;
    padding: 100px;

    width: 60%;
    background-color: rgb(255, 255, 255);
}
.interior-indicator3 {
    position: absolute;
    left: 0%;
    top: 68%;
    z-index: 2;
    width: 0;
    height: 0;

    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent transparent transparent rgb(47, 47, 51);
;
}

.service-description-bloc4 {
    display: none;
    position: relative;
    padding: 100px;

    width: 60%;
    background-color: rgb(255, 255, 255);
}
.interior-indicator4 {
    position: absolute;
    left: 0%;
    top: 81%;
    z-index: 2;
    width: 0;
    height: 0;

    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent transparent transparent rgb(47, 47, 51);
;
}


.service-description-title {
    padding: 10px 0;
    font-size: 20px;
}

.service-description-button {
    margin-top: 20px;
    background-color:rgb(47, 47, 51);
    border: 1px solid rgb(47, 47, 51);
    color: white;
    font-size: small;
}
.service-description-button:hover {
    margin-top: 20px;
    background-color:rgb(255, 255, 255);
    border: 1px solid rgb(47, 47, 51);
    color: rgb(22, 22, 22);
    font-size: small;
    transition: ease 0.2s;

}

@media screen and (max-width: 768px) {
    .service-container{
        display: flex;
        flex-direction: column;
        height: auto;
        padding-top: 20px;
    }
    .service-menu-bloc {
        display: flex;
        justify-content: center;
        height: 280px;
        width: 100%;

        color: white;
        background-color: rgb(47, 47, 51);
    }

    .service-menu {
        position: absolute;
        top: 50px;
    }

    .service-menu-bloc ul{
        width: 200px;
        list-style-type: none;
        line-height: 12px;
    }
    .service-menu-bloc li:hover{
        transition: ease-in-out 0.2s;
        font-weight: bolder;
    }
    .service-title-menu {
        position: absolute;
        left: 6%;
        top: 20px;
        font-size: x-large;
    }

    .service-item-text {
        font-size: small;
    }

    .service-item-logo{
        width: 20px;
        height: 20px;
    }

    .service-description-bloc1 {
        padding: 50px;
    }
    .service-description-bloc2 {
        padding: 50px;
    }.service-description-bloc3 {
        padding: 50px;
    }.service-description-bloc4 {
        padding: 50px;
      }
}
/* PORTFOLIO BLOC
/////////////////////////////////////////////////////////////////////////////
*/
.bloc-text h2 {
    margin: 20px;
}

.portfolio-text-text{
    margin: 10px;

}

.grid {
    display: grid;

    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 60px);

    grid-gap: 20px;
    margin: 20px 10px;

}
section{
}


.grid > div:nth-child(1) {
    grid-column: 1 / span 4;
    grid-row: 1 / span 2;
}

.grid > section:nth-child(2){
    grid-column: 5 / span 8;
    grid-row: 1 / span 5;
}
.grid > section:nth-child(3){
    grid-column: 1 / span 4;
    grid-row: 3 / span 5;
}

.grid > section:nth-child(4){
    grid-column: 5 / span 4;
    grid-row: 6 / span 3;
}
.grid > section:nth-child(5){
    grid-column: 9 / span 4;
    grid-row: 6 / span 3;
}
.grid > section:nth-child(6){
    grid-column: 1 / span 4;
    grid-row: 8 / span 2;
}
.grid > section:nth-child(7){
    grid-column: 1 / span 4;
    grid-row: 10 / span 2;
}
.grid > section:nth-child(8){
    grid-column: 5 / span 5;
    grid-row: 9 / span 3;
}
.grid > section:nth-child(9){
    grid-column: 10  / span 3;
    grid-row: 9 / span 3;
}

.grid > * {
    position: relative;
    overflow: hidden;

}

.grid  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.portfolio-container img {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
}
.portfolio-container img:hover {
    filter: brightness(50%);
    -webkit-filter: brightness(60%);
    transition: ease-in 0.2s;
}

@media screen and (max-width: 768px) {
    .portfolio-container {
        display: flex;
        width : 100%;
        margin-left: 2%;
        padding-top: 4px;
    }
    .portfolio-text-title {
        font-size: small;
        margin-top: 0;
    }

    .portfolio-text-text {
        font-size: x-small;
        color: #222;
        padding-top: 30%;
        margin: 0;
    }

    .portfolio-bloc2 {
        margin-top: 0;
    }

    .bloc-text h2 {
        font-size: small;
        margin: 0;
        padding: 0;
    }
}

/* /////////// PAGINATION :::::::::::::::::::::::
*/
.pagination {
    display: flex;
    padding: 16px;
justify-content: center;
}
.results-per-page {
    display: flex;
    padding: 16px;
    justify-content: center;

}
/* REVIEWS BLOC
/////////////////////////////////////////////////////////////////////////////
*/
.client-service-container{
    display: flex;
}

.client-say-box {
    flex : 3;
    height: 400px;
    background-color: rgb(47, 47, 51);
}

.client-say-title {
    margin-top: 5%;
    margin-right: 5%;

    text-align: right;
    color: white;
    font-size: x-large;

}

.client-say-text {
    margin-right: 5%;
    margin-top: 3%;

    text-align: right;
    color: rgb(221, 221, 221);
    font-size: smaller;
}

.testimony {
    display: flex;
    flex : 2;

    max-height: 400px;
    background-color: rgb(255, 255, 255);

}

.testimony-bloc {
    position: relative;
    flex : 2;

    height: auto;
    padding: 20px;
    margin: 20px;
    margin-top: 0;

    overflow: hidden;
    text-align: center;
    border: 1px solid rgb(224, 224, 224);
}

.testimony-text {
    font-size: smaller;
}
.testimony img {
    border-radius: 50%;
    max-height: auto;
}
.testimony-name {
    position: absolute;
    bottom: 48px;
    color: rgb(39, 170, 115);
    text-align: center;

}
.testimony-work {
    position: absolute;
    bottom: 15px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .client-service-container{
        flex-direction: column;
    }
    .client-say-box {
        height: 150px;
    }
    .client-say-title {
        margin:5%;
    }
    .client-say-text {
        margin: 5%;

    }
    .testimony{
        flex-direction: column;
        max-height: none;
        height: auto;
    }
    .testimony-bloc {
        margin-top: 8px;
        height: auto;

    }
    .testimony-text {
        font-size: smaller;
    }

    .testimony-name {
        padding-top: 2%;
        color: rgb(39, 170, 115);
    }
    .testimony-work {
        padding-top: 2%;
    }
}

/* PROJECTS BLOC
/////////////////////////////////////////////////////////////////////////////
*/
.project-bloc {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.project-title{


}
.project-summary{


}
.project-description{
padding: 10px 640px 40px;

}

/* BUSINESS SELL BLOC
/////////////////////////////////////////////////////////////////////////////
*/


.business-service-container{
    display: flex;
    justify-content: center;

    padding-top: 50px;
    padding-bottom: 40px;

    width: 100%;
    background-color: rgb(238, 238, 238);
    display: flex;
}



.business-bloc {

    background-color: white;
    width: 300px;
    margin: 20px;

    text-align: center;
}

.business-bloc img {
    margin-top: 20px;

}

.business-bloc .title {
    padding: 5% 0;
    font-size: larger;
}

.business-bloc .text {
    font-size: smaller;
    margin: 10px;
    color: rgb(47, 47, 51);
}

.business-bloc .price {
    padding: 10% 0;
    font-size: x-large;

}

.business-bloc .per-mounth {
    font-size: 15px;
    color: rgb(177, 177, 177);

}

.business-bloc button {
    margin-top: 10px;
    background-color: rgb(47, 47, 51);
    border: 1px solid rgb(47, 47, 51);
    color: white;
}

.business-bloc button:hover {
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(26, 26, 26);
    border: 1px solid #222;
    transition: ease-in-out 0.2s;

}

.business-bloc .info-button {
    padding-top: 20px;
    margin-bottom: 40px;
    color: rgb(39, 170, 115);
}

@media screen and (max-width: 768px) {
    .business-service-container{
        flex-direction: column;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .business-bloc {
        width: auto;
    }
    .business-bloc .price {
        padding: 1% 0;
        font-size: x-large;
    }
    .business-bloc .title {
        padding: 1% 0;
    }
}

/* FOOTER
/////////////////////////////////////////////////////////////////////////////
*/

footer {

    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;

    width: 100%;
    height: auto;
    background-color: rgb(47, 47, 51);
    color: white;
}

footer img {
    height: 100px;
    background-color: grey;
}

.contact-us {
    padding: 20px;
}

.copyright {
    padding: 20px;
    color: rgb(189, 189, 189);
}

@media screen and (max-width: 768px) {
    footer {
        padding-top: 8px;

        width: 100%;
        height: auto;
    }

}